@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Inventory Project</title>
    <link href="~/vendor/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/journal_theme.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap" class="fixed-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Inventory Project</a>
            </div>
        </nav>
        <div class="container" style="padding-top:30px;">
            <div class="col-md-2">
                <div class="h2">About</div>
            </div>
            <div class="col-md-10">
                <p>
                    A project that utilizes .Net Core Api for the backend and React for the frontend.
                    The .Net Api uses Dapper to access the database. This project comes with data reports / representation
                    using D3.js. 
                </p>
            </div>
        </div>
        <div class="container" style="padding-top:30px;">
            <div class="col-md-12">
                <a href="/inventory">
                    Let's Start
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>