
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div id="app.inventory"></div>

@section scripts{
    <!-- <script src="@Url.Content("~/js/app/components/products/product.jsx")"></script>
    <script src="@Url.Content("~/js/app/components/products/newProduct.jsx")"></script>
    <script src="@Url.Content("~/js/app/components/products/products.jsx")"></script> -->

    <script src="@Url.Content("~/js/built/inventory.bundle.js")"></script>
}

